language: node_js
node_js: 6
sudo: required
git:
  depth: 5
branches:
  only:
  - "/^(?i:SWIK)-.*$/"
  - master
cache:
  directories:
  - "./application/node_modules"
before_install:
- if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ] ; then
  ./travis_scripts/install_compose.sh ; fi
- cd application
before_script:
- npm run start:mongodb
script:
- sleep 15
- npm run lint
- npm run test:unit
- npm run test:integration
after_success:
- cd ..
- openssl aes-256-cbc -K $encrypted_c55e126763b4_key -iv $encrypted_c55e126763b4_iv -in deployment_keys.tar.enc -out deployment_keys.tar -d
- if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ] ; then
  ./travis_scripts/dockerhub.sh ; fi
- if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ] ; then
  ./travis_scripts/deploy.sh ; fi
- cd application
after_script:
- npm run coverall
- npm run stop:mongodb
- rm -f deployment_keys.tar
- rm -f ~/.docker/{cert.pem,key.pem,ca.pem,config.json}
services:
- docker
notifications:
  slack:
    on_success: change
    on_failure: always
    rooms:
      secure: aqjfE3a0ZUVsgwhH0wGZEFO/VR6GxNYYDggdpJlJknYcyF4/wcLJhFDA8ubJKQ4QLo6tCfFTnDH2NbfBsaprvG8gb5rvw1hxoqyEa3ioCBuxhbAbTy9s0ujJQK7EzHyckMkaffC9M1uE9JjkE8PncpaaRQA8Nt+tc6+p7wSmvDjvayjNvV4xSN7sqsmnth8OLgiuRY5iV/WaEbpwzGxjn6UvuiEZfzBF1gZFXjbnZci+fgrwVmtEPIezK+IG6rWfDzG8MvqEAqb5bw+kmf2vrH9XrKplXHRTdrFrM2FF0r6oqX2+JcRTP5AXRidfq20tbBY6PTHoYa4zrreZppdGVeUPvmldpNi9yTX47xENJy9ZbP9vx5YkCYDcoIDH13AL8hwoJL/DumglweQQnqTjynIUtaZNM/HF+LfrbTuUYh6euI1ZUS9VwnqryMmqPNXzGOp/jfKdZNelcQkSfYffOMyRriCxI7v/ayCQqA4UyWG0zyrPkbxlkchHpD9M2x+fOYqtn282iUL66+yfQAp1NrnrGHXAgCPJvBImvTc/iZID0z1K/y9Tpfw5wBCOIiUMDh79eHwXJMCAs9Jl96L9jMUfAPbRgIVi21lYWNgvENlEvVx6fouvET+Ugu+gx3wnW1afJji3zZD03e458SBW3IJSDwCGtzPU+RbBjgDvdmQ=
env:
  global:
  - DOCKER_COMPOSE_VERSION=1.6.2
  - DATABASE_PORT=27018
  - secure: mWydE8mM4X9k8VZULZlkkPcEYmOUufXFTjjK540Ukb9j07VQfIJxOc5y1X3sllDqIYksxaYGxzBUNwsFv0u+ESGvQdC2kQbHL0qv1SqIdX84iF6+Qx9NXtOqVQ9HsGu7q8qwyFLQXDofE1ZfKuuTF2kUr6svfr1DslcfnhTfKblusqjqQATz3aCf+Xi7w5Zu2sePnaI8li3Xpvwp6KfruuI5Qb/ci0LGXqNTHTt1d3uT2yxPEP4lnj3RlH86uPredBzBGBtkZpmUtfM0fHtWVa7cgDa/rK1KNmYKqADZDWh+644p4d4mBmZGvjydBkoalG8fI/vhXQPmCGYmf4icFkubQFhsQEyB7rr5x/SSawRmPGjc6iNGMnH7lVkMPUFkI0yB8WaNbF+uTElygKIEBdnhZvoNuPkwwgcSUuc8L82tK4Zb14ut1ChUUl4S+WcmbeJpAE4ldDBFFw78iMI0CXeTMF1XI6RSWasQ9x4YRFCzf2/Naw1HEjESMXhkfeIxavaiyCpt0Gv72/z44K7K4MAokZLbb52RKnKNt35lh2tTBDkGD18JN/H8ZnLnvkA9vJQ+v2AokJtUAe9vKLQZMFq9JEhfK+Xx4MqG3kiycR2ERTTy10ZNidGKl36QbK3wpwvADgtp92Q5hYHHY7mID0YdVqsoSrrpecQAKisPyF4=
  - secure: LwEL/BeIiNtyE27/+bEllooe8EvanHo9qlAQmcb0iQaggYFlPNK2eGEmzOrs2dzSeNaZwOBiF7jGCp+N5n5NxBvroUj3X6NeUD8nQ+y1CD0TBeIxkoEYPrQ9t8a7Xnz0ovUoHaJB6tW+Qrznss9MjwqfI3Pn+6yYrIV1hTNW73fXYy2TAxiIILdRaygZmgEceetfSnQedd/KgQ+7jWCp42v27RY3/7MLw5CWwkSETEOal4zyhsFbVNGOSMSSO1iFO1KFPS1LYaXbLkkKy8x3ByUTmvqJ9XOw7UsYrJXtMOMWOMM5Mxi1zQC5MmxjP/UKIJLH06rGZ6gNfI98yP1thHlp/saQ6XyJUDNyvDqnrdG5UBkg7JTfAXHDafvsH3YfGwO85sR78IMoTPCdvoUaWIGGezitffBTT4zOUjBoy7xdOVNwLdUt5b4Wuo1Qr2v+3LXpR+Z2H/lKmvTr8hQQI99jEtLFJxHcL+xX1ij/rNW8yZGmWtdlftcRrDFSV8VRg9yF2Puo9VepRD3MZJnPZAW8vgW2JScSVMGDOaHxM12zVIpDU6eIvT0sbZXLsqLPeXe6lTvKlT2DDoNFCpv2rRnqkQIp4v6kUH8ARYSS26jPKhCSO9q03lqjJ8nBN9JYjdu8kyqYV/lY8Fj0cL/1uv4FVbVELp0b5nvHPBoDtk0=
  - secure: RObdnq8ZbYXC+m6on18wxU7Qmg5uUuYbeu1x+feGYmBD1ylBcrBlH0AhtS1qNhaRCQFIQi2fTdiXDek6awWdYTszViWFAXRA+3kWKITx7J+KRDjVGOYvQfCpbeNpBaH7uAOahHXhsCOt2fOprkfpjCLs3yx8QyhFezYma8qTshRXkIiBjGQK+1tAwvNOF5xG6hETLar7Z4hV1ylwUL+FI8kMopqBylvz61BeKxT/Wq7z3tqLjZPDuuHqq95qvwCue0Agy/5jrMkNp5j2HVcM1L2mrOi7530U6t8v4qxucKwsjxU1qlbD4Vs7Mb/tytqE86mKJOLiDqn7BAd0YEEhF+vyxQ6JJLqDDh5pvNIiS1u7uwa9fMRE+N7tbsjMwNJdOuYkhc2VpdS+Q45Kz9FTNNwH4AFBhZJqmwDynSwq9qP55PyM92Dta8ZT1U/8WPun1q2u4zC7UF0B5CTlRUry+PtUP4u82Y9mPiB2DeM+ockrrL29uuySvR10rXYTFDlHx35vfuTA4D/21ypR6rd+GPt0ShcEd4iNvkAwgttOBalGl4qy38qrwLw1ukPDoN33pG1G5kga5AAZlw0q/kzws3mokvFGWDsLwboMukOKfP15BlSp5DSyPhXnQD1za9A+5Lpi4IuxItXuzKncWFJIV5EEN0opuHHkkoPCQEtC2r0=
